#global:
#  - scrape_interval: 10s
#  - scrape_timeout: 10s 
rule_files:
  - 'rules.yml'
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
    - targets: ['192.168.1.5:8080']
alerting:
   alertmanagers:
     - static_configs: 
         - targets: ['192.168.1.5:9093']
